@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --font-sans: var(--font-poppins);
}

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  @apply bg-slate-50 text-slate-900;
}
